html, body, .container {
  min-height: 100%;
}

#header {
  height: 130px;
  padding-bottom: 10px;
  padding-top: 20px
}

#header h2 {
  margin: 0 0 0 60px;
  position:relative;
  line-height: 1.5em;
}

#header h2 span.key {
  position: absolute;
  margin-left: -60px;
}

#header h2 span.title {
  display: inline-block;
  height: 3em;
  overflow: hidden;
  width: 100%;
}

h3 {
  display: inline-block;
  height: 2.2em;
  line-height: 1.1em;
  overflow: hidden;
  width: 100%;
}

.dropdown-menu {
  right: 0;
}

h3 {
  text-align: center;
  padding: 0 15%;
}

.svg-container {
  padding: 0 15px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 90%;
  padding-bottom: 55%;
  vertical-align: middle;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 5%;
}

.navi {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.prev, .next {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3em;
  font-size: 20px;
  color: #000;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  opacity: .5
}

.prev span, .next span {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
}

 .next {
  right: 0;
  left: auto;
 }

 .next span {
  right: auto;
  left:0;
 }
