/*** Chart style ***/

/* axis style */

.axis line, .axis .tick line {
  stroke: black;
  stroke-width: 1;
}

.axis .tick line {
  stroke: #bbb;
}

/* r-axis style */

.y-axis .tick text {
  dominant-baseline: middle;
  text-anchor: end;
}

.y-axis .title text {
  text-anchor: middle;
  font-weight: 800;
}

.y-axis .ruler {
  stroke: #bbb;
  stroke-width:1;
}


/* b-axis style */

.x-axis .tick text, .x-axis text.tick {
  dominant-baseline: hanging;
  text-anchor: middle;
}


/** to clean up **/

line.axis {
  stroke: black;
  stroke-width: 1;
}

.serie line {
  stroke:black;
  stroke-width: 2;
}

.bar {
  fill: #6495ED;
}

.mean {
  fill: #FF69B4;
  stroke: white;
  stroke-width: 1;
}

.median {
  fill: blue;
  stroke: white;
  stroke-width: 1;
}

.tick line {
  stroke: gray;
  stroke-width:1;
}

svg text {
  font-size: 18px;
}

.median-label, .mean-label {
  text-anchor: start;
}

.median-label {
  dominant-baseline: middle;
}

.bar-label {
  text-anchor: middle;
  dominant-baseline: middle;
}

.y-scale text {
  dominant-baseline: middle;
  text-anchor: end;
}

.x-scale text {
  dominant-baseline: hanging;
  text-anchor: middle
}