<h3 class="desc">{{chartData.subtitle}}</h3>
<svg sc-view-box="chartData.svg">

  <!-- Draw the y axis, its ticks and rulers -->
  <g sc-r-axis="chartData.yScaleReversed" sc-layout="chartData.svg" title="chartData.axisY.name"></g>

  <!-- Draw the representation of the series distribution -->
  <g class="serie" ng-repeat="serie in chartData.series">
    <!-- add a rectangle for the median -->
    <rect class="bar"
      ng-attr-x="{{chartData.xScale(serie.name) - 20}}" 
      ng-attr-y="{{chartData.svg.inHeight - chartData.yScale(serie.data)}}" 
      width="40" ng-attr-height="{{chartData.yScale(serie.data)}}"
    />
    <text class="bar-label"
      ng-attr-x="{{chartData.xScale(serie.name)}}" 
      ng-attr-y="{{chartData.svg.inHeight - chartData.yScale(serie.data) - 10}}"
      >
      {{serie.data}}
    </text>
  </g>

  <!-- Draw x axis and the ticks -->
  <g sc-b-axis="chartData.xScale" sc-layout="chartData.svg"></g>

</svg>
