<h3 class="desc">{{data.subtitle}}</h3>

<scce-svg-container scce-viewbox="layout">
  <svg>

    <!-- Draw the y axis, its ticks and rulers -->
    <sc-r-axis sc-scale="yAxisScale" sc-layout="layout" title="data.axisY.name"></sc-r-axis>

    <!-- Draw bars and labels-->
    <g class="serie" ng-repeat="serie in data.series" 
      ng-attr-transform="translate({{xScale(serie.name)}},{{layout.inHeight - yScale(serie.data)}})"
    >
      <rect class="bar" x="-20" width="40" ng-attr-height="{{yScale(serie.data)}}"/>
      <text class="bar-label" dy="-10">
        {{serie.data}}
      </text>
    </g>

    <!-- Draw x axis and the ticks -->
    <sc-b-axis sc-scale="xScale" sc-layout="layout"></sc-b-axis>
  </svg>
</scce-svg-container>