<h3 class="desc">{{chartData.subtitle}}</h3>
<svg sc-view-box="chartData.svg">
  <!-- Draw the y axis, ticks and rulers -->
  <g sc-r-axis="chartData.yScaleReversed" sc-layout="chartData.svg" title="chartData.axisY.name"></g>

  <g class="serie" ng-repeat="serie in chartData.series"
    ng-attr-transform="translate({{chartData.xScale(serie.name)}}, 0)"
  >
    <g class="group" ng-repeat="name in chartData.xNestedScale.domain()"
      ng-attr-transform="translate({{chartData.xNestedScale(name)}}, 0)"
    >
      <rect class="bar" ng-if="serie.data[name]"
        ng-attr-y="{{chartData.svg.inHeight - chartData.yScale(serie.data[name])}}" 
        ng-attr-width="{{chartData.xNestedScale.rangeBand()}}"
        ng-attr-height="{{chartData.yScale(serie.data[name])}}"
        ng-attr-style="fill: {{chartData.colors(name)}}"
      />
      <text class="bar-label" ng-if="serie.data[name]"
        ng-attr-dx="{{chartData.xNestedScale.rangeBand()/2}}"
        ng-attr-y="{{chartData.svg.inHeight - chartData.yScale(serie.data[name]) - 10}}" 
      >
        {{serie.data[name]}}
      </text>
    </g>
  </g>

  <!-- Draw the x axis, ticks and the legend-->
  <g sc-b-axis="chartData.xAxisScale" sc-layout="chartData.svg"></g>

  <g class"legend"
    ng-repeat="name in chartData.legendScale.domain()"
    ng-attr-transform="translate({{chartData.legendScale(name)}}, {{chartData.svg.inHeight + 50}})"
  >
    <rect class="bar" width="10" height="10" ng-attr-style="fill: {{chartData.colors(name)}}"/>
    <text dx="20" dy="10" style="text-anchor: start; alignment-baseline: auto">
      {{name}}
    </text>
  </g>

</svg>
