<h3 class="desc">{{data.subtitle}}</h3>

<scce-svg-container scce-viewbox="layout">

  <svg>
    <!-- Draw the y axis, ticks and rulers -->
    <sc-r-axis sc-scale="yAxisScale" sc-layout="layout" title="data.axisY.name"></sc-r-axis>

    <g class="serie" ng-repeat="serie in data.series"
      ng-attr-transform="translate({{xScale(serie.name)}},0)"
    >
      <g class="group" ng-repeat="name in xNestedScale.domain()"  ng-if="serie.data[$index]"
        ng-attr-transform="translate({{xNestedScale(name)}}, {{layout.inHeight - yScale(serie.data[$index])}})"
      >
        <rect class="bar"
          ng-attr-width="{{xNestedScale.rangeBand()}}"
          ng-attr-height="{{yScale(serie.data[$index])}}"
          ng-attr-style="fill: {{colors(name)}}"
        />
        <text class="bar-label"
          y="-10"
          ng-attr-dx="{{xNestedScale.rangeBand()/2}}" 
        >
          {{name}}
        </text>
      </g>
    </g>

    <!-- Draw the x axis, ticks and the legend-->
    <sc-b-axis sc-scale="xAxisScale" sc-layout="layout"></sc-b-axis>

    <g class"legend"
      ng-repeat="name in legendScale.domain()"
      ng-attr-transform="translate({{legendScale(name)}}, {{layout.inHeight + 50}})"
    >
      <rect class="bar" width="10" height="10" ng-attr-style="fill: {{colors(name)}}"/>
      <text dx="20" dy="10" style="text-anchor: start; alignment-baseline: auto">
        {{name}}
      </text>
    </g>

  </svg>
</scce-svg-container>