<svg viewBox="0 0 720 400"  preserveAspectRatio="xMidYMid">
  <!-- Move chart down to leave space for margins (used labels) -->
	<g ng-attr-transform="translate({{chartData.svg.margin.left}},{{chartData.svg.margin.top}})">
    <!-- Draw the representation of the series distribution -->
    <g class="grouped-serie" ng-repeat="gserie in chartData.series">
      <g class="serie" ng-repeat="serie in gserie.series">
        <!-- The line between min and max point-->
        <line  class="distribution"
          ng-attr-x1="{{chartData.x2Scale(serie.name)}}" 
          ng-attr-y1="{{chartData.yScale(serie.min)}}" 
          ng-attr-x2="{{chartData.x2Scale(serie.name)}}" 
          ng-attr-y2="{{chartData.yScale(serie.max)}}"
        />
        <!-- the min point -->
        <line class="min"
          ng-attr-x1="{{chartData.x2Scale(serie.name) - 5}}" 
          ng-attr-y1="{{chartData.yScale(serie.min)}}" 
          ng-attr-x2="{{chartData.x2Scale(serie.name) + 5}}" 
          ng-attr-y2="{{chartData.yScale(serie.min)}}"
        />
        <!-- the max point -->
        <line class="max"
          ng-attr-x1="{{chartData.x2Scale(serie.name) - 5}}" 
          ng-attr-y1="{{chartData.yScale(serie.max)}}" 
          ng-attr-x2="{{chartData.x2Scale(serie.name) + 5}}" 
          ng-attr-y2="{{chartData.yScale(serie.max)}}"
        />
        <!-- add a rectangle for the mean -->
        <rect class="mean"
          ng-attr-x="{{chartData.x2Scale(serie.name) - 10}}" 
          ng-attr-y="{{chartData.yScale(serie.mean) - 10}}" 
          width="20" height="5"
        />
        <!-- add a rectangle for the median -->
        <rect class="median"
          ng-attr-x="{{chartData.x2Scale(serie.name) - 5}}" 
          ng-attr-y="{{chartData.yScale(serie.median) - 5}}" 
          width="10" height="10"
        />
      </g>
    </g>

    <!-- Draw the y axis and the ticks -->
    <!-- TODO: label axis at add units to ticks -->
    <g class="y-scale scale">
      <line class="axis y-axis" x1="0" ng-attr-y1="{{chartData.svg.inHeight+5}}" x2="0" y2="0"/>
      
      <!-- let d3 calculate the tick values -->
      <g class="tick" ng-repeat="t in chartData.yScale.ticks(6)">
        <line
          ng-attr-x1="{{chartData.svg.inWidth}}" ng-attr-y1="{{chartData.yScale(t)}}"
          x2="-5" ng-attr-y2="{{chartData.yScale(t)}}"
        />
        <text x="-10" ng-attr-y="{{chartData.yScale(t)}}">{{t}}</text>
      </g>
    </g>

    <!-- Draw x axis, its ticks and rulers -->
    <!-- TODO: label axis at add units to ticks -->
    <g class="x-scale scale">
      <line class="axis x-axis"
        x1="-5" ng-attr-y1="{{chartData.svg.inHeight}}"
        ng-attr-x2="{{chartData.svg.inWidth}}" ng-attr-y2="{{chartData.svg.inHeight}}" 
      />
      <line class="sep x-sep" ng-repeat="i in chartData.x3Scale.domain()"
        ng-attr-x1="{{chartData.x3Scale(i)}}" ng-attr-y1="{{0}}"
        ng-attr-x2="{{chartData.x3Scale(i)}}" ng-attr-y2="{{400}}"
        stroke="gray" stroke-width="1"
      />
      <g class="gtick" ng-repeat="gserie in chartData.series">
        <g class="tick">
          <line
            ng-attr-x1="{{chartData.x1Scale(gserie.name)}}" ng-attr-y1="{{chartData.svg.inHeight}}"
            ng-attr-x2="{{chartData.x1Scale(gserie.name)}}" ng-attr-y2="{{chartData.svg.inHeight + 25}}"
          />
          <text 
            ng-attr-x="{{chartData.x1Scale(gserie.name)}}"
            ng-attr-y="{{chartData.svg.inHeight + 30}}"
          >
            {{gserie.name}}
          </text>
        </g>
        <g class="tick" ng-repeat="serie in gserie.series">
          <line
            ng-attr-x1="{{chartData.x2Scale(serie.name)}}" ng-attr-y1="{{chartData.svg.inHeight}}"
            ng-attr-x2="{{chartData.x2Scale(serie.name)}}" ng-attr-y2="{{chartData.svg.inHeight + 5}}"
          />
          <text 
            ng-attr-x="{{chartData.x2Scale(serie.name)}}"
            ng-attr-y="{{chartData.svg.inHeight + 10}}"
          >
            {{serie.name}}
          </text>
        </g>
      </g>
    </g>


  </g>
</svg>
