<div id="page-content-wrapper" class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>
        #{{label}}. {{data.title}}
      </h2>
    </div>
  </div>
  <!-- Keep all page content within the page-content inset div! -->
  <div class="page-content inset row" style="max-height: 450px">
    <div class="col-md-12" ng-switch on="data.type">
      
      <wave-spinner ng-show="loading"></wave-spinner>
      
      <div class="chart" ng-switch-when="boxPlot">
        <sc-box-plot sc-data="data"/>
      </div>
      
      <div class="chart" ng-switch-when="groupedBoxPlot">
        <sc-grouped-box-plot sc-data="data"/>
      </div>

      <div class="chart" ng-switch-when="bar">
        <sc-bar sc-data="data"/>
      </div>

      <div class="chart" ng-switch-when="groupedBar">
        <sc-grouped-bar sc-data="data"/>
      </div>

      <div class="chart" ng-switch-when="pie">
        <sc-pie sc-data="data"/>
      </div>

      <div class="chart" ng-switch-when="combined">
        <sc-combined sc-data="data"/>
      </div>
      
    </div>
  </div>
</div>
