<h3 class="desc">{{data.subtitle}}</h3>
<svg sc-view-box="layout">
	<g class="pie"ng-attr-transform="translate({{layout.inWidth / 2}},{{layout.inHeight / 2}})">
		<g class="slice" ng-repeat="a in pieData">
			<path
				ng-attr-d={{arc(a)}}
				ng-attr-style="fill: {{colors(a.data.name)}};"
				/>
			<text
				ng-attr-transform="translate({{arc.centroid(a).join(',')}})"
				dy=".35em"
				style="text-anchor: middle"
				>
				{{percentage(a.data.data)}}
			</text>
		</g>
	</g>

	<g class="legend" ng-repeat="a in pieData"
		ng-attr-transform="translate({{legendXAnchor}}, {{layout.height - (pieData.length - $index) * 20 - 15}})"
	>
		<rect
			width="12"
			height="12"
			ng-attr-style="fill: {{colors(a.data.name)}}"
		/>
		<text dx="20" dy="12" style="alignment-baseline: auto">{{a.data.name}}</text>
	</g>
</svg>